* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-decoration: none;
}

.App {
  background-image: url(https://i.pinimg.com/originals/2b/2b/11/2b2b1110569856cc7b4962abf6695e9c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  background-color: #edecf1;
  opacity: 0.95;
  display: flex;
  position: absolute;
  height: 90%;
  width: 92%;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
